/* Chart styles */
svg {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
}

.area {
    stroke: black;
    cursor: pointer;
}

.area:hover {
    fill: rgb(175, 240, 91);
}

#backButton {
    cursor: pointer;
}

#backButton rect {
    fill: rgb(175, 240, 91);
}

#backButton text {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    fill: black;
}

#backButton:hover rect {
    fill: rgb(26, 199, 194);
}

#backButton:hover text {
    fill: white;
}

.unclickable {
    pointer-events: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    padding: 5px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 17px !important;
}

circle.total {
    fill: black;
}

div.tooltip.total {
    background: black;
    color: white;
}

circle.summer {
    fill: red;
}

div.tooltip.summer {
    background: red;
    color: white;
}

circle.winter {
    fill: darkblue;
}

div.tooltip.winter {
    background: darkblue;
    color: white;
}

circle.spring {
    fill: lightgreen;
}

div.tooltip.spring {
    background: lightgreen;
    color: white;
}

circle.autumn {
    fill: coral;
}

div.tooltip.autumn {
    background: coral;
    color: white;
}